.admin {
  button {
    outline: none;
  }
  .admin__logo {
    display: block;
  }
  .bg__admin {
    width: 100wh;
    height: 100vh;
  }
  .btn__submit {
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    background: 0 0;
    padding: 7px 25px;
    transition: all 0.2s;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #00ac4d;
    border: none;
    color: #fff;
  }
  .admin__info {
    margin-top: 70px;
  }
  .admin__quanLy {
    .btn__taoLichChieu {
      color: #00ac4d;
      outline: none;
      border: none;
      padding: 0 5px;
      font-size: $h6;
    }
    .btn__edit {
      color: #b03550;
      outline: none;
      border: none;
      padding: 0 5px;
      font-size: $h6;
    }
    .btn__del {
      color: #fb4226;
      outline: none;
      border: none;
      padding: 0 5px;
      font-size: $h6;
    }
  }
  .quanLy__user {
    @extend .admin__quanLy;
  }
  .modal-dialog {
    max-width: 1000px !important;
  }
  .plist__admin {
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background-color: $cRed;
    }
    a {
      color: $primary;
    }
  }
  .ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: $cRed;
  }
  .ant-pagination-item:focus-visible,
  .ant-pagination-item:hover {
    border-color: $cRed;
  }
  .ant-switch-checked {
    background-color: $cRed;
  }
  .ant-table-thead > tr > th {
    color: $primary;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.85);
  }
  .menu__admin {
    font-size: $subtitle2;
    font-weight: bold;
  }
}
